.page {
  height: 100%;
  background: var(--background);
  color: var(--text-primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin-bottom: 2rem;
}