/* 레이아웃 */
.content_section {
  display: flex;
}

/* 페이지 */
.page {
  background: var(--background);
  height: calc(100vh - var(--header-height));
}

.content_grid {
  display: grid;
}

.recentMemoSection {
  color: var(--text-primary);
  padding: 1rem;
}

.recentMemoTitle {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.memoList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}