.newMusicButton {
    background: #FFA09B;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newMusicButton:hover {
    filter: brightness(85%);
}

.buttonText {
    font-family: 'paperlogy';
    font-size: medium;
}
