.header {
    font-family: 'paperlogy_bold';
    background: #FFB38E;
    height: var(--header-height);
    display: flex;
}

.brand {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    color: #7C444F;
}

.siteName {
    color: #7C444F;
    font-weight: 800;
    font-size: 1.5rem;
}

.toolBar {
    display: flex;
    margin-left: auto;
    margin-right: 4rem;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profileIcon {
    border-radius: 50%;
    border: 2px solid white;
}

.userName {
    margin-left: 1rem;
}